/* fonts */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.btn {
  color: #005fac;
  background-color: white;
  font-size: 20px;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

/* banner styles */
header {
  background-image: url("../images/banner/banner3.png");
}
.banner {
  margin: 0 auto;
  height: 808px;
}
.banner .banner-content {
  text-align: right;
}
.banner .banner-content h2 {
  font-size: 65px;
  font-weight: bold;
  color: white;
  padding-top: 216px;
  margin-bottom: 24px;
}
.banner .banner-content p {
  font-size: 16px;
  color: white;
  line-height: 28px;
  margin-bottom: 32px;
}

/* failure section styles */
#failure {
    margin-top: 130px;
}
.failure-container {
    display: flex;
    align-items: center;
    gap: 85px;
}
.failure-container h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.failure-container p {
    font-size: 16px;
    margin-bottom: 16px;
    color: #444343;
    line-height: 26px;
}
.failure-container ul > li {
    list-style: none;
    color: #444343;
    line-height: 36px;
}

ul > li > i {
    color: #16D887;
}


/* my plan section styles */
#my-plan {
  margin-top: 130px;
}
#my-plan .title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}
.plan-container {
  display: flex;
  justify-content: space-between;
  gap: 65px;
}
.plan-box {
  text-align: center;
}
.plan-box .img img {
  width: 92px;
  margin-bottom: 24px;
}
.plan-box h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
}
.plan-box h3 {
  font-size: 25px;
  font-weight: 500;
  color:#444343;
}

/* watch section styles */
#watch {
  margin-top: 135px;
  margin-bottom: 130px ;
}
.watch-content {
  background-image: linear-gradient(to right, #005FAC , #005fac00) , url("../images/watch.png");
  padding: 60px 0 60px 65px;
  border-radius: 8px;
  
}
.watch-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
  width: 460px;
}


