/* fonts */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

/* banner styles */
header {
  background-image: url("../images/banner/banner3.png");
}
.banner {
  margin: 0 auto;
  height: 808px;
}
.banner .banner-content {
  text-align: right;
}
.banner .banner-content h2 {
  font-size: 65px;
  font-weight: bold;
  color: white;
  padding-top: 216px;
  margin-bottom: 24px;
}
.banner .banner-content p {
  font-size: 16px;
  color: white;
  line-height: 28px;
  margin-bottom: 32px;
}
.banner-content .btn {
  color: #005fac;
  background-color: white;
  font-size: 20px;
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
}

/* failure section styles */
#failure {
    margin-top: 130px;
}
.failure-container {
    display: flex;
    align-items: center;
    gap: 85px;
}
.failure-container h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.failure-container p {
    font-size: 16px;
    margin-bottom: 16px;
    color: #444343;
    line-height: 26px;
}
.failure-container ul > li {
    list-style: none;
    color: #444343;
    line-height: 36px;
}

ul > li > i {
    color: #16D887;
}
